<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <div class="container">                                                
    <div class="row">                                                              
        <div class="col-12">                                      
            <div class="alert alert-primary">                                       
                If I'm in a blue 'alert' and centered Bootstrap is well installed! 
            </div>                                           
        </div>   
    </div>                                                                          
</div>     





<nav>                         
 <p> <a routerLink="/">Home</a> </p>
 <p> <a routerLink="/about">About</a>  </p>
 <p>  <a routerLink="/todo">Todo App</a> </p>
</nav>              

<router-outlet></router-outlet>
